.rpv-toolbar__right{
    display: none;
}
.default-layout__sidebar{
    display: none;
}
.rpv-toolbar__left{
    display: none;
}
.rpv-default-layout__sidebar-tabs{
    display: none;
}

.login-message {
    text-align: center;
}