.profile-content {
    display: flex;
    justify-content: center;

  .profile-content-right {
    background-color: #fff;
    border: 1px solid #ddd; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 

    .ant-input {
      width: 500px;
    }
  }
}

.button-submit {
  margin-top: 16px; 
}

.ant-btn{
    color: white;
    background: #CF0201 ;
    border-color: #CF0201 ;
}

.ant-btn:hover{
  color: white;
  background: #CF0201 ;
  border-color: #CF0201 ;
}

.ant-btn:focus{
  color: white;
  background: #CF0201 ;
  border-color: #CF0201 ;
}
