.main{
    background: white;
    width: 70%;
    padding: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    margin-left: 14em;
    margin-bottom: 2em;
    border-radius: 2em;

    .container{
        display: flex;
    }
}