.main-reset-password-fail {
    width: 55%;
    margin: auto;
    border-radius: 15px; /* Đặt giá trị tùy thuộc vào góc tròn mong muốn */
    padding: 20px; /* Đặt giá trị tùy thuộc vào khoảng cách nội dung với biên */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đặt độ đổ bóng tùy thuộc vào mong muốn */
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
  }